/* ========================================
SHARED
========================================= */

.category {
  hgroup {
    h2 {
      font-family: var(--f-category-title);
    }
  }
}

.forum {
  border: 1px solid var(--border);

  .title {
    font-family: var(--f-forum-title);
  }

  .links {
    font-family: var(--f-forum-links);
  }
  
  .description {
  }
}

@container style(--forum-style:small) {

    .forum {
        --img-height: 25vh;
        --forum-rows: 5;
        grid-template-columns: 1fr;
        grid-template-areas: "img" "data" "desc" "links" "lastpost";

        .forum-img,
        .forum-img img,
        &>.title {
            height: var(--img-height);
        }

        .forum-img {
            mask-image: linear-gradient(black, transparent);
        }

        .forum-img img {
            width: 100%;
            object-fit: cover;
            object-position: center;
            filter: var(--filter-img);
        }

        .title {
            grid-area: img;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .lastpost {
            padding: var(--spacing);
        }

        .description {
            padding: 0 var(--spacing);
        }

        .data {
            padding-right: var(--spacing);
            align-items: center;

            &:before {
                content: "";
                height: 1px;
                background: var(--border);
                flex-grow: 1;
                min-width: 20%;
            }
        }

        .forum-links {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            border-top: 1px solid var(--border);

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid var(--border);

                &:last-child:nth-child(odd) {
                  grid-column: 1 / -1;
                }

                &:nth-child(odd) {
                    border-right: 1px solid var(--border);
                }
            }
        }
    }
}

@container style(--forum-style:medium) {

    .forum {
        --forum-rows: 5;
        --img-width: 20vw;

        &:has(.forum-img:empty) {
        --img-width:0;
        }
      
        overflow: clip;
        gap: 0;
        grid-template-columns: var(--img-width) 1fr;
        grid-template-areas: "img title" "img data" "img desc" "img links" "img lastpost";



        &:first-child {
            border-top-left-radius: var(--spacing);
            corner-shape: var(--shape-deco);
        }

        &:nth-child(2) {
            border-top-right-radius: var(--spacing);
            corner-shape: var(--shape-deco);
        }

        &:nth-last-child(2) {
            border-bottom-left-radius: var(--spacing);
            corner-shape: var(--shape-deco);
        }

        &:last-child {
            border-bottom-right-radius: var(--spacing);
            corner-shape: var(--shape-deco);
        }

        .title {
            align-self: center;
            padding: var(--spacing);
        }

        .data {
            padding-right: var(--spacing);
            align-items: center;

            &:before {
                content: "";
                height: 1px;
                background: var(--border);
                flex-grow: 1;
                min-width: 20%;
            }
        }

        .description {
            padding: var(--spacing);
            text-wrap: pretty;
        }

        .forum-links {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            border-top: 1px solid var(--border);

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid var(--border);

                &:last-child:nth-child(odd) {
                  grid-column: 1 / -1;
                }

                &:nth-child(odd) {
                    border-right: 1px solid var(--border);
                }
            }
        }

        .forum-img {
            width: var(--img-width);

            img {
                height: stretch;
                max-height: 65vh;
                width: 100%;
                object-fit: cover;
            }
        }
    }

}

@container style(--category:guidebook) {

    .category {
        --img-width: 25vw;
        gap: 0 var(--spacing);
        display: grid;
        grid-template-columns: var(--img-width) 1fr;
        grid-template-rows: max-content 1fr;
        grid-template-areas: "catimg title" "catimg forumwrap";

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            grid-area: catimg;
            background: var(--accent-gradient);
            border-radius: 999px 999px 0 0;
        }

        &:after {
            content: "";
            grid-area: catimg;
            width: 100%;
            height: 100%;
            background: var(--guidebook-img);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
        }

        .forum-wrap {
            grid-area: forumwrap;
            border: 1px solid var(--border);
            border-radius: var(--spacing);
            corner-shape: var(--shape-deco);
            padding: var(--spacing-xs);
            gap: var(--spacing-xs);
        }

        hgroup {
            grid-area: title;

            h2 {
                font-size: var(--f-5xl) !important;
            }
        }

    }

    .forum {
        --forum-rows: 4;
        --lastpost: no;
        --data: no;
        grid-template-areas: "img" "title" "desc" "links";
        padding: var(--spacing);

        .title {
            place-self: center;
            text-align: center;
            line-height: 1;
        }

        .forum-img {
            place-self: center;

            img {
                height: 60px;
                width: 60px;
                border-radius: var(--spacing-s);
                corner-shape: var(--shape-deco);
            }
        }

        .forum-links {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: var(--spacing-xs);

            a {
                padding: var(--spacing-xs);
                text-align: center;
                border: 1px solid var(--border);
                background: var(--background-elevated);

              &:last-child:nth-child(odd) {
                  grid-column: 1 / -1;
                }
            }
        }
    }
}
