/* ========================================
SHARED
========================================= */

.category {
  hgroup {
    h2 {
      font-family: var(--f-category-title);
    }
  }
}

.forum {
  border: 1px solid var(--border);

  .title {
    font-family: var(--f-forum-title);
  }

  .links {
    font-family: var(--f-forum-links);
  }
  
  .description {
  }
}
