nav {
    display: grid;
    gap: var(--spacing-s);
    padding-left: var(--spacing-s);
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "forum logo user";

	&:has(.breadcrumbs:not(:empty)) {
		grid-template-rows: repeat(2,max-content);
		grid-template-areas: "forum logo user" "forum breadcrumbs user";
	}

    .forum-nav {
        grid-area: forum;
		
    }

    .nav-logo {
        grid-area: logo;
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 1;
    }

    .breadcrumbs {
        grid-area: breadcrumbs;

        &:empty {
            display: none;
        }

    }

    .user-nav {
        grid-area: user;
        justify-content: flex-end;
    }

    .guest-nav {
        grid-area: user;
        justify-content: flex-end;
        padding-right: var(--spacing);
      
      button {
        padding: var(--spacing-xs) var(--spacing);
        font: var(--f-s) var(--f-buttons);
        background: var(--accent);
        color: contrast-color(var(--accent));
      }
    }
}
